.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .spinner {
    width: 60px;
    height: 60px;
  }
}

.App {
  text-align: center;

  .list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  }
}
